:root {
    --black: #000000;
    --white: #ffffff;
    --trans-white: #ffffffaa;
    --grey: #6a6566;
    --teal: #1f414d;
    --highlight: #cc2e41;
    --garnet: #750009;
}

html {
    overflow-x: hidden;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--white);
    position: relative;
    left: -8px;
    width: calc(100% + 8px);
}

#content {
    width: 100%;
}

#banner {
    width: 90%;
    margin-left: 15px;
}

#banner-name {
    margin-left: auto;
    padding-left: 20%;
}

#header-nav li:first-child {
    border-top: solid 1px var(--grey);
}

#header-nav li {
    border-bottom: solid 1px var(--grey);
    padding-left: 15px;
}

#blurb {
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    color: var(--black);
    text-align: center;
    padding: 25px;
}

#blurb div {
    max-width: 90%;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-around;
}

#blurb h1 {
    color: var(--garnet);
}

#tag {
    max-width: 75%;
    color: var(--garnet);
    background: var(--trans-white);
    padding-left: 15px;
}

#quote {
    padding-top: 30px;
    padding-bottom: 30px;
}

#news {
    color: var(--garnet);
    padding: 40px 0;
}

#news h1 {
    text-align: center;
}

#news p {
    color: var(--black);
}

#news img {
    max-width: 100%;
}

#news .three {
    margin: 40px 0;
    padding: 0 40px;
}

#basics {
    color: var(--garnet);
    padding: 20px;
}

#basics a:not(.button) {
    color: var(--garnet);
}

#basics a:hover:not(.button) {
    color: var(--white);
}

#basics div:not(:last-child) {
    border-bottom: solid 1px var(--grey);
    padding: 20px;
}

#basics ul.columns li {
    text-align: center;
    margin: 15px;
}

#basics .one {
    padding: 15px;
    text-align: center;
}

#basics .one a {
    text-decoration: underline;
}

#basics .one a:hover {
    text-decoration: none;
}

ul {
    padding-left: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--white);
    margin: 5px;
}

img:not(#logo a img) {
    display: block;
    margin: auto;
}

#links img {
    margin: 0;
}

#links div {
    margin: 20px;
}

#links div section {
    margin: 20px;
}

#links div section:first-child{
    border-bottom: solid 1px var(--white);
}

#links ul {
    flex-wrap: wrap;
    justify-content: left;
}

#links ul.columns li {
    width: 45%;
}

#links li {
    margin: 5px;
}

#links #logo {
    width: fit-content;
}

.garnet {
    background: var(--garnet);
}

.black {
    background: var(--black);
}

.white {
    background: var(--white);
}

.teal {
    background: var(--teal);
}

.text-block {
    padding: 20px 50px;
}

.text-block img {
    max-width: 90%;
}

.spacer {
    height: 20px;
}

.fullscreen {
    position: relative;
}

.fullscreen img {
    max-width: 100%;
}

.circle {
    border-radius: 200px;
}

.button {
    display: block;
    width: fit-content;
    padding: 15px 20px;
    border: solid 2px var(--white);
    margin: 10px 0;
}

#basics .button {
    padding: 10px;
}

#legal {
    border-top: solid 1px var(--white);
}

#legal ul {
    width: fit-content;
    padding: 5px;
    padding-top: 10px;
    margin-left: 3%;
    flex-wrap: wrap;
}

#legal li:not(:last-child)::after {
    content: "|";
}

.button:hover {
    color: var(--garnet);
    background: var(--white);
    border: solid 2px var(--garnet);
}

.highlight:hover {
    background: var(--highlight);
}

.wrap {
    flex-wrap: wrap;
}

.hide-portrait {
    display: none;
}

.one {
    flex: 1;
}

.two {
    flex: 2;
}

.three {
    flex: 3;
}

.one img, .two img {
    margin: auto;
}

.always {
    display: flex;
    justify-content: space-around;
}



/* **For sufficiently large screens wider than their height** */
@media only screen and (orientation: landscape) and (min-width: 768px) {
    .columns {
        display: flex;
        justify-content: space-around;
    }

    .landscape-highlight:hover {
        background: var(--highlight);
    }

    ul {
        margin: 0;
    }

    #header-nav.hide-portrait {
        position: relative;
        left: 4%;
    }

    #header-nav li:not(:last-child)::after {
        content: "|";
    }

    #header-nav li:first-child {
        border: none;
    }

    #header-nav li {
        border: none;
        padding-left: 0;
    }

    #logo {
        margin-left: 5%;
    }

    #main-nav {
        padding: 15px;
    }

    #main-nav ul {
        margin-left: auto;
        margin-right: 8%;
    }

    #main-nav li {
        padding-left: 15px;
        padding-right: 15px;
    }

    #tag {
        position: absolute;
        bottom: 10%;
        padding-left: 8%;
        padding-right: 5%;
    }

    #overlay {
        position: absolute;
        width: 40%;
        bottom: 10%;
        right: 5%;
    }

    #blurb {
        width: 50%;
    }

    .one img {
        width: 100%;
        height: 100%;
    }

    .two img {
        margin-right: 85px;
        margin-left: auto;
    }

    .three h2, .three h3 {
        max-width: 70%;
    }

    #news .three {
        max-width: 20%;
    }

    main .three .button {
        width: 90%;
        text-align: center;
    }

    #video img {
        max-width: 90%;
        max-height: 90%;
        position: relative;
        top: 5%;
    }

    #basics div:not(:last-child) {
        border: none;
        border-right: solid 1px var(--grey);
    }

    #basics ul.columns {
        flex-wrap: wrap;
    }

    #basics ul.columns li {
        height: fit-content;
        width: 40%;
        margin-bottom: 10px;
        margin-top: 10px;
        text-align: left;
    }

    #basics ul.columns a {
        height: fit-content;
    }

    #links .three ul.columns li {
        width: 28%;
    }

    .hide-landscape {
        display: none;
    }

    .hide-portrait {
        display: flex;
    }
}