/* **Broad Formatting** */
html {
    border: solid 1px #a4bfb8;
}

body {
    width: 100%;
    position: relative;
    left: -8px;
    background: #f2f1d5;
    font-family: Arial, Helvetica, sans-serif;
}

#content {
    color: #608588;
}

h1 {
    text-align: center;
}

img {
    display: block;
    margin: auto
}

/* **Header** */
#header-nav ul {
    list-style: none;
    background-color: #a4bfb8;
    padding-left: 0px;
}

#header-nav a {
    color: #ffffff;
    text-decoration: none;
    display: block;
    padding: 10px;
}

#header-nav li {
    background: #d88281;
    flex: 1;
    margin: 1px;
    text-align: center;
}

/* **Main** */
/* Ideas */
#ideas {
    flex-wrap: wrap;
}

#idea {
    display: block;
    padding-bottom: 10px;
    margin: 0px;
}

#idea div {
    width: 100%;
    padding: 0px;
    margin: 0px;
}

#idea h2 {
    padding: 10px;
}

#idea p {
    padding: 10px;
}

/* Grid */
#grid {
    min-height:min-content
}

#links {
    background: #d88281;
    color: #ffffff;
    padding: 10px;
    margin: 5px;
    margin-top: 0px;
}

#links ul {
    list-style: none;
    padding-left: 0px;
}

#links a {
    color: #ffffff;
}

.grid-card {
    color: #ffffff;
    padding: 5px;
    margin: 5px;
}

.grid-card img {
    width: 100%;
}

#title {
    background: #608588;
}

#gallery {
    background: #a4bfb8;
}

.grid-card h3 {
    text-align: center;
}

/* **Footer** */
footer {
    color: #ffffff;
    background: #d88281;
    padding: 20px;
    margin-top: 15px;
    text-align: center;
    position: relative;
    top: -8px;
    box-shadow: 0px 1px #a4bfb8;
}

/* Flex Classes */
.one {
    flex: 1;
}
.two {
    flex: 2;
}
.three {
    flex: 3;
}
.four {
    flex: 4;
}

.hide-portrait {
    display: none;
}


/* **For sufficiently large screens wider than their height** */
@media only screen and (orientation: landscape) and (min-width: 768px) {
    .columns {
        display: flex;
    }

    main {
        position: relative;
        top: -16px;
    }

    #ideas {
        flex-wrap: wrap;
    }

    #idea {
        width: 45%;
    }
    #idea:first-of-type {
        margin-right: 10%;
    }

    #idea div div {
        margin: 0px;
    }

    #image {
        max-width: 25%;
    }

    #image img {
        max-width: 100%;
    }

    #titles, #galleries {
        flex-wrap: wrap;
        margin: 0px;
    }

    .grid-card {
        margin-left: 0px;
        margin-top: 0px;
    }

    #title {
        width: calc(50% - 15px);
    }

    #gallery {
        width: calc((100% / 3) - 15px);
    }

    footer {
        position: relative;
        top: -16px;
        margin: 0px;
    }

    .hide-portrait {
        display: flex;
    }
}