/* Structure*/
body {
    font-family: Arial, Helvetica, sans-serif;
    background: url("images/sunset.jpeg");
    background-size: cover;
}

#content {
    width: 70%;
    margin: auto;
    color: #490349;
    background-color: #fb7fb9;
    padding: 3px 20px;
    border-radius: 10px;
    box-shadow: 5px 5px #490349;
}
#assignments {
    color: #81064c;
    background-color: #fdcbd0;
    width: 20%;
    margin: auto;
    padding: 0px 5px;
    border-radius: 10px;
    box-shadow: 5px 5px #81064c;
}

/* Links */
a {
    text-decoration: none;
    color: #7f009c;
}

/* Typography */
h1 {
    text-align: center;
}
h2 {
    text-align: center;
}