/* Structure*/
body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(#81064c, #710341);
}

#content {
    position: relative;
    width: 90%;
    margin: auto;
    color: #490349;
    background: linear-gradient(#ff81cd, #fa97cf, #ff81cd, #ff81cd, #ff81cd, #fa97cf);
    padding: 3px 20px;
    border-radius: 10px;
    border: solid 4px #490349;
}

.assignment {
    color: #81064c;
    background: linear-gradient(#fdcbd0, #fbc1bd);
    padding: 5px 0px;
    border-radius: 10px;
    border: solid 4px #81064c;
    text-align: center;
}

img {
    border-radius: 10px;
    border: solid 3px #81064c;
}

/* Links */
a {
    text-decoration: none;
    color: #7f009c;
    display: block;
    margin: auto;
    margin-top: 20px;
}

/* Typography */
h1 {
    text-align: center;
}
h2 {
    text-align: center;
}

/* Core Navigation */
#core-nav ul {
    list-style-type: none;
    padding-left: 0px;
}

#core-nav li {
    text-align: center;
}


/* Larger Screens */
@media only screen and (min-width: 768px) {
    body {
        background: url("images/sunset.jpeg");
        background-size: cover;
    }

    #content {
        width: 70%;
        background: linear-gradient(#ff81cd, #fa97cf, #fa97cf, #ff81cd, #ff81cd, #ff81cd, #fa97cf);
    }

    #content a {
        flex: 1;
        margin-left: 10px;
        margin-right: 10px;
    }

    .assignment {
        padding: 5px;
    }

    img {
        max-width: 90%;
    }

    /* Columns */
    .columns {
        display: flex;
    }
}